<h3>{{ cv.mooc }}</h3>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.june }}. 15</strong></div>
    <div class="col-lg-9"><a href="https://www.coursera.org/course/projects101">Fundamentals of Project Planning and Management</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.march }}. 15</strong></div>
    <div class="col-lg-9"><a href="https://www.coursera.org/course/usablesec">Usable Security</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>Nov. 14</strong></div>
    <div class="col-lg-9"><a href="https://www.coursera.org/course/android">Programming Mobile Applications for Android Handheld Systems</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>Sept. 14</strong></div>
    <div class="col-lg-9"><a href="https://www.coursera.org/course/webapplications">Web Application Architectures</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.august }}. 14</strong></div>
    <div class="col-lg-9"><a href="https://www.coursera.org/course/datascitoolbox">The Data Scientist's Toolbox</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.july }}. 14</strong></div>
    <div class="col-lg-9"><a href="http://fr.openclassrooms.com/informatique/cours/debutez-l-analyse-logicielle-avec-uml">Débutez l'analyse logicielle avec UML</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.july }}. 14</strong></div>
    <div class="col-lg-9"><a href="http://fr.openclassrooms.com/informatique/cours/realisez-votre-premier-jeu-video-avec-unity">Réalisez votre premier jeu vidéo avec Unity</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.june }}. 14</strong></div>
    <div class="col-lg-9"><a href="https://www.coursera.org/course/microcontroleurs">Comprendre les microcontrôleurs</a></div>
</div>
<div class="row">
    <div class="col-lg-3"><strong>{{ cv.february }}. 14</strong></div>
    <div class="col-lg-9"><a href="http://www.microsoftvirtualacademy.com/training-courses/c790985d-8766-44d3-80fc-1e3bb1886533">Développement en HTML5 avec JavaScript et CSS3 - Démarrage rapide</a></div>
</div>