<div class="experience">
    <div class="row">
        <div class="col-lg-2">
            <a href="http://www.smile.fr" title="Smile"><img class="img-responsive img-rounded center-block logo" alt="Smile" src="img/smile.png" /></a>
        </div>
        <div class="col-lg-10">
            <h3>Smile <small>{{ cv.exp_smile_ied.title }}</small></h3>
            <p class="text-muted"><em>{{ cv.exp_smile_ied.date_place }}</em></p>
        </div>
    </div>
    <div class="row content">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#smile-ied-resume" data-toggle="tab">{{ cv.summary }}</a></li>
                <li><a href="#smile-ied-env" data-toggle="tab">{{ cv.dev_environment }}</a></li>
                <li><a href="#smile-ied-customer" data-toggle="tab">{{ cv.customers }}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active in" id="smile-ied-resume">
                    <ul>
                        <li>
                            <strong>{{ cv.exp_smile_ied.project_title }}</strong>
                            <ul>
                                <li>{{ cv.exp_smile_ied.project_task }}</li>
                            </ul>
                        </li>
                        <li>
                            <strong>{{ cv.exp_smile_ied.training_title }}</strong>
                            <ul>
                                <li>{{ cv.exp_smile_ied.training_task_1 }}</li>
                                <li>{{ cv.exp_smile_ied.training_task_2 }}</li>
                            </ul>
                        </li>
                        <li>
                            <strong>{{ cv.exp_smile_ied.tech_title }}</strong>
                            <ul>
                                <li>{{ cv.exp_smile_ied.tech_task_1 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_2 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_3 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_4 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_5 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_6 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_7 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_8 }}</li>
                                <li>{{ cv.exp_smile_ied.tech_task_9 }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="smile-ied-env">
                    <p>
                        <strong>{{ cv.tech_environments }}</strong>
                    </p>
                    <ul>
                        <li>Debian</li>
                        <li>Apache 2, Tomcat 6</li>
                        <li>MySQL 5, SQL Server</li>
                        <li>Xalan, XLST</li>
                        <li>PHP 5</li>
                        <li>Symfony 1.4 {{ cv.and }} 2.x</li>
                        <li>Java, JDBC</li>
                        <li>eZ Publish 4.x</li>
                        <li>CAS, phpCAS</li>
                        <li>{{ cv.various }} : Phonegap 0.9, Google Map API v3, memcached, varnish, nginx, doctrine, cas, solr</li>
                    </ul>
                    <p>
                        <strong>{{ cv.softwares }}</strong>
                    </p>
                    <ul>
                        <li>Eclipse</li>
                        <li>Subversion</li>
                        <li>Mantis</li>
                        <li>iOS SDK, Android SDK, Blackberry Webworks</li>
                        <li>Kayako</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="smile-ied-customer">
                    <ul>
                        <li>TOTAL Raffinage Marketing</li>
                        <li>Comexposium</li>
                        <li>SPIE</li>
                        <li>My Major Company</li>
                        <li>JC Decaux</li>
                        <li>FONCIA</li>
                        <li>AERES</li>
                        <li>Association prévention routière</li>
                        <li>Croix Rouge IRFSS</li>
                        <li>Furet du Nord</li>
                        <li>Western Union</li>
                        <li>Virgin Mobile</li>
                        <li>DRSM</li>
                        <li>Gallimard</li>
                        <li>Serpens</li>
                    </ul>
                </div>
            </div> <!-- End Tab content -->
        </div> <!-- End Col -->
    </div> <!-- End Row -->
</div> <!-- End Experience -->