{% set page_url_path = "" %}
{% set page_title = "Jonathan Bouzekri | " ~ general.job_title %}
{% set page_description = general.meta_description %}

{% extends "templates/layout.html" %}

{% block content %}
<div class="row" itemscope itemtype="http://data-vocabulary.org/Person">
    <div class="col-lg-2">
        <a href="/{{ language }}/" itemprop="url"></a><img class="img-responsive img-rounded thumbnail center-block" alt="Jonathan Bouzekri Avatar" src="img/jobou.jpg" itemprop="photo">
    </div>
    <div class="col-lg-10">
        <h1><span itemprop="name">Jonathan Bouzekri</span> <small itemprop="title">{{ general.job_title }}</small></h1>
        <p>{{ general.short_description|safe }}</p>
        <a class="btn btn-primary btn-lg" href="/{{ general.cv_file }}">{{ general.my_cv }}</a>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-4">
        <h2>{{ general.expertise_block.title }}</h2>
        <p>{{ general.expertise_block.description|safe }}</p>
    </div>
    <div class="col-lg-4">
        <h2>{{ general.management_block.title }}</h2>
        <p>{{ general.management_block.description|safe }}</p>
    </div>
    <div class="col-lg-4">
        <h2>{{ general.communication_block.title }}</h2>
        <p>{{ general.communication_block.description|safe }}</p>
    </div>
</div>
{% endblock %}
